<tr>
  <td>{{post.title}}</td>
  <td>{{post.author}}</td>
  <td>{{post.category}}</td>
  <td>{{post.date}}</td>
  <td><button>Update</button></td>
  <td><button {{action 'delete' post}}>Delete</button></td>
</tr>
