<div class="row post">
  <h1>{{post.title}}</h1>
  <img src={{post.image}} alt={{post.title}}>
  <h5>{{post.author}} - {{post.date}}</h5>
</div>

<div class="row post">
  <p>{{post.content}}</p>
</div>

<div class="row post">
  <h5>Tags: {{post.category}}</h5>
</div>

{{add-comment saveComment="saveComment" post=post}}

{{comment.name}}
